@media (max-width: 426px) {
	.aboutUsImgDesktop,
	.upperDividerContainer,
	.lowerDividerContainer {
		display: none;
	}

	.aboutUsImgMobile {
		display: block;
		height: auto;
		width: 100%;
	}

	.aboutUsContainer {
		display: flex;
		flex-direction: column;
	}

	.aboutUsTitle {
		align-items: center;
		grid-row: 2;
		justify-content: center;
		margin: 0;
		z-index: 1;
	}

	.aboutUsText {
		grid-row: 3;
		margin: auto;
		margin-top: 4em;
		z-index: 1;
	}

	.aboutUsText p {
		text-align: justify;
	}
}
